/* src/pages/HomePage/HomePage.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px); /* Робить контейнер високим, щоб градієнт був видний */
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  color: #ffffff;
  background: linear-gradient(45deg, #FF416C, #FF4B2B);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.greetingIcon {
  display: inline-block;
  animation: waveAnimation 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes waveAnimation {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

.text {
  font-size: 22px;
  font-weight: 400;
  max-width: 600px;
  color: rgba(255, 255, 255, 0.9);
}

.button {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #FF416C;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}